:root {
    view-transition-name: root;
}
html {
    display: block;
}
head {
    display: none;
}
body {
    width: 750px;
    margin: auto;
    margin-top: 5px;
    background-color: #801010;
    display: block;
}
#logobanner_box0 {
    width: 800px;
    height: 150px;   
}
#logobanner_box1 {
    width: 30%;
    height: 150px;
    float: left;
}
a {
    text-decoration: none;
}

a:-webkit-any-link{
    cursor: pointer;
    color: webkit link;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
#logobanner_box2 {
    width: 70%;
    float: left;
    height: 150px;
}
#navi_top_box0 {
    text-decoration: none;
    height: 30px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.navi_top_ul {
    text-decoration: none;
    list-style: none;
    float: right;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row-reverse;
}

.navi_top_a_off {
    padding: 5px;
    border-bottom: 2px solid #FE9B27;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    color: #FE9B27;
    display: block;
    font-weight: 500;
    font-size: 16px;
    justify-content: space-between;
    font-family: 'Denk One' , sans-serif;
}
.fb_tw_imglink {
    display: block;
    padding: 0px;
    padding-top: 5px;
    margin-right: 5px;
    text-decoration: none;
    color: #ffebcd;
    text-align: center;
    
}
#logbanner_box2_1 {
    width: 100%;
    float: left;
    height: 60px;
}
#banner {
    color: #FE9B27;
    font-family: 'playball' , cursive;
    font-size: 42pt;
    letter-spacing: 8px;
    display: inline-block;
}
#logbanner_box2_2 {
    width: 100%;
    float: left;
    height: 30px;
}
#bannermotto {
    float: right;
    font-family: 'cherry swash';
    font-size: 15pt;
    font-style: italic;
    letter-spacing: 3px;
    padding-right: 22px;
    color: #FE9B27;
}

#navi_main_box0 {
    width: 750px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.navi_main_ul {
    list-style: none;
    border: 0px;
    float: left;
    margin: 0px;
    margin-left: 1px;
    padding: 0px;
    width: 890px;
}

.navi_main_li{
    list-style: none;
    float: left;
    padding-bottom: 0px;
}

ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.relation::marker{
    content: '* ';
    line-height: 1.5;
    font-family: 'Simonetta';
}

.relation a {
    color: #801010;
}

.navi_main_a_on {
    min-width: 3em;
    display: block;
    border: 1px dashed #801010;
    padding: 5px;
    margin-left: 5px;
    background-color: #FFEBCD;
    text-decoration: none;
    color: #801010;
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    font-size: 13pt;
}

a:-webkit-any-link {
    cursor: pointer;
}

.navi_main_a_off {
    min-width: 3em;
    display: block;
    border: 1px dashed #801010;
    padding: 5px;
    margin-left: 5px;
    background-color: #FE9B27;
    text-decoration: none;
    color: #801010;
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    font-size: 13pt;
}
a:-webkit-any-link {
    cursor: pointer;
}

.navi_main_a_off {
    min-width: 3em;
    display: block;
    border: 1px dashed #801010;
    padding: 5px;
    margin-left: 5px;
    background-color: #FE9B27;
    text-decoration: none;
    color: #801010;
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    font-size: 13pt;
}

#centerpiece_box {
    width: 720px;
    min-height: 450px;
    height: auto !important;
    height: 450px;
    background-color: #FFFFE0;
    margin: 0px;
    border: 15px solid ;
    color: #801010;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}

.flashbox {
    width: 720px;
}

.body_whatsnew_box {
    width: 700px;
    background-color: #DEB887;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 10px;
    padding-bottom: 10px;
    border: 1px solid #000000;
    float: left;
}
.body_whatsnew_text {
    font-family: 'Simonetta';
    font-weight: bold;
    font-size: 12pt;
    color: #600000;
    text-decoration: none;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 0px;
    
}

.simplelink {
    text-decoration: underline;
    color: #801010;
}

a:-weblit-any-link {
    cursor: pointer;
}

iframe {
    overflow-clip-margin: content-box !important;
    overflow: clip !important;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.body_heading {
    font-family: 'Berkshire Swash', cursive;
    font-size: 20pt;
    font-style: normal;
    font-weight: normal;
    border: 0;
    margin: 0px;
    margin-bottom: 5px;
    padding: 0;
}

.body_heading h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.body_bulktext {
    font-family: 'Simonetta';
    text-align: justify;
    line-height: 2;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.body_bulklinktext {
    text-decoration: underline;
    color: #801010;
}

.body_subheading {
    font-family: 'Berkshire swash' ,cursive;
    font-size: 18pt;
    font-style: normal;
    font-weight: normal;
    border: 0px;
    margin: 0px;
    margin-left: 0px;
    padding: 0px;
}

.body_para img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

#footer {
    font-family: 'Arial' , sans-serif;
    font-size: 9pt;
    text-align: center;
    width: 750px;
    height: 35px;
    background-color: #801010;
    margin-top: 5px;
    color: #FFEBCD;
}

.body_preamble_box {
    width: 650px;
    background-color: #F5F5DC;
    margin-top: 25px;
    margin-bottom: 5px;
    padding: 10px;
    padding-bottom: 20px;
    border: 1px dashed #C0C0C0;
    float: left;
}

.body_preamble_text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12pt;
    font-style: italic;
    color: #696969;
}

.body_epilogue_text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 9pt;
    font-style: italic;
    color: #696969;
}

.body_box {
    width: 650px;
    background-color: #F5F5DC;
    border: 1px dashed #C0C0C0;
    margin-top: 25px;
    margin-bottom: 5px;
    padding: 10px;
    padding-bottom: 20px;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.name {
    font-family: 'Cherry Swash';  
    font-size: larger;  
    color: #801010;  
    text-decoration: underline;
    line-height: 2.5;
}

.details {
    font-family: 'Ubuntu',sans-serif;  
    font-size: 9pt;  
    color: #3A5F0B;  
    font-style: italic;
}

h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;

}

.janyam {
    margin-bottom: 5px;
    font-size: 10pt;
    font-family: 'Simonetta', cursive;
}

.arohanam {
    margin-bottom: 0.3em; 
    font-size: 20px;
    font-family: 'Simonetta';
    font-weight: 600;
}
.avrohanam {
    font-size: 20px;
    margin-top: -0.2em;
    font-family: 'Simonetta';
    font-weight: 600;
}

.audio-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: block;
}

.audio-item {
    width: auto;
    background-color: #e08217;
    border-color: #801010;
    border-style: solid;
    border-width: medium;
    border: 1px solid #801010;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    padding: 10px;
    height: 25px;
    display: block;
    font-size: 1em;
    padding: 0.25em 0.5em 0.25em 0.5em;
    margin-bottom: 5px;
}

.audio-item:hover {
    background-color: #FE9B27;
}

.audio-item.playing {
    background-color: #fe9b27;
    color: #000; 
}

.audio-item.expanded {
    height: 40px; 
}

.audio-item.expanded .progress-bar {
    display: block;
}

.audio-item.expanded .song-info {
    display: block;
    position: absolute;
    right: 10px; 
    font-size: 12px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 2px 4px; 
    background-color: #FFFFE0; 
}

.audio-container {
    display: flex;
    align-items: center;
    min-height: 30px;
    flex-direction: column;
    padding: 3px;
    overflow: hidden;
    transition: background-color 0.3s;
    position: relative;
}

.audio-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.audio-player {
    align-items: center;
    flex-direction: column;
    display: flex;
    gap: 10px;
}

.play-pause-btn {
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.audio-name {
    margin: 0 10px;
    flex-grow: 1;
    font-size: 19px;
    color: #FFFFE0;
    font-family: 'Simonetta';
}

.audio-name:hover {
    color: #000;
}

.volume-control {
    cursor: pointer;
    width: 18px;
    height: 18px;
    align-self: flex-end;
    padding-right: 10px;
}

.progress-bar {
    display: none;
    height: 8px;
    width: 100%;
    border-radius: 20px;
    background-color: #FFFFE0;
}

.progress-bar::-webkit-progress-bar {
    background-color: #FFFFE0;
}

.progress-bar::-webkit-progress-value {
    background-color: #801010;
}

.progress-bar:hover::-webkit-progress-value {
    background-color: #801010;
}

.song-info {
    font-size: 16px;
    border: 1px solid #000;
    display: none;
    border-radius: 4px;
    margin-left: 10px;
    padding: 2px 4px;
    background-color: #fff;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}


.up-button {
    font-family: 'Cherry Swash';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: underline;
    padding: 10px 20px;
    color: #801010;
}

.prev-button, .next-button {
    font-family: 'Cherry Swash';
    text-decoration: underline;
    padding: 10px 20px;
    color: #801010;
}

.navigation:not(:has(.prev-button)) .next-button {
    margin-left: auto;
    font-family: 'Cherry Swash';
}

.navigation:not(:has(.next-button)) .prev-button {
    margin-right: auto;
    font-family: 'Cherry Swash';
}

.body_subheading {
    font-family:  'Berkshire Swash' cursive;
    font-size: 18pt;
    font-style: normal;
    font-weight: normal;
    border: 0;
    margin: 0px;
    margin-left: 0px;
    padding: 0;

}

element.style{
    clear: both;
}

.body_social_box {
    width: 690px;
    background-color: #F5F5DC;
    margin: 5px;
    padding: 5px;
    border: 1px solid #CCCCFF;
    height: 25px;
}

.body_social_ul {
    list-style: none;
    float: left;
    margin: 0px;
    padding: 0px;
}

.body_social_li {
    float: left;
    padding: 3px;
    padding-bottom: 0px;
}

.body_assetpage_updatedtext {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 9pt;
    font-style: italic;
    vertical-align: text-bottom;
    color: #118800;
    padding-top: 5px;
}