{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>   Weekly Blog </title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
</head>           
    <body>
    
    {% include 'navbar.html' %}
    
    <div id="centerpiece_box">
    
        <div class="body_whatsnew_box">
      <span class="body_whatsnew_text">
        <hr><span style="font-size: 140%"> <a href="https://ragasurabhi.com/carnatic-music/week-750-raga-handshake-special-match.html" class="simplelink">   Special Quiz 750 - (Results and Winners!)</a> </span><br> <br><span style="font-size: 120%"> <iframe width="560" height="315" src="https://www.youtube.com/embed/_EjvNh7TO34?si=yN-2iVs0fpcwJPf1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>   <br>  </span> <hr>  
      The Raga Surabhi Weekly Quiz Contest:<br>
      <a style="text-decoration: underline;" href="/carnatic-music/raga-surabhi-quiz/quiz--quiz0774.html"> Quiz 774</a> (Open)
      &nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp;
      <a style="text-decoration: underline;" href="/carnatic-music/raga-surabhi-quiz/quiz--quiz0773.html"> Quiz 773</a> (Closed)
      &nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp;
            <a style="text-decoration: underline;" href="/leaderboard"> Leaderboard (Dec, 2023)</a>
            &nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp;
      <a style="text-decoration: underline;" href="/carnatic-music/weekly-blog/weekly-blog--week0774--week-774-updates.html"> Blog (774)</a>
    &nbsp;
      </span>
    </div>
    
    <h2 class="body_heading">About Us</h2><hr>
      
    
        <p class="body_subheading">Why Raga Surabhi</p>
        <hr>
        <div class="body_bulktext">
            <p>
            Carnatic Music is a rigorous musical form that requires some effort on the part of listeners or rasikas, to appreciate all its nuances..
            Raga Surabhi is our humble attempt to provide a simple and user-friendly introduction to various aspects of carnatic music.
            This site is primarily aimed at reaching out to people who like Carnatic music, listen to it a great deal and are eager to learn more, but are not sure where to start. After using this site, if you feel that you are better equipped to appreciate Carnatic music, that would be the ultimate justification for our efforts.
            </p>
            <hr>
            <div id="RagaSurabhiTeam" class="body_subheading">Raga Surabhi Team</div>
            <p><b>Uma and Ramasubramaniam:</b></p>
            <div style="float:left;">
                <img class="aboutus_img" src="images/uma_ram_ragasurabhi.png">
            </div>
            <p>
            Uma works as an Assistant Professor of Chemistry in Presidency College, Chennai, India. She completed her M. Sc (Chemistry) from IIT Madras, and doctoral studies from Central Leather Research Institute (CLRI), Chennai. Uma's guru is Smt. Lalitha Sivakumar. Uma has previously learnt Carnatic music under the tutelage of late Shri K S Vaidhyanathan.
            </p><p>
            All the carnatic renditions on this site have been sung by her.  Uma teaches carnatic music classes online.
            </p><p>
            Ramasubramaniam is a civil engineer turned IT professional.  He is keenly interested in carnatic music and also learns violin.
            He is an ardent fan of Ilayaraja and most of the cine songs on this site have been rendered by him.
            </p><p>
            Ram and Uma have temporarily relocated to Paris, France.
            </p>
            <div style="clear: both;"></div>
            <p><b>Hema and Sriram:</b></p>
            <div style="float:left;">
                <img class="aboutus_img" src="images/hema_sriram_ragasurabhi.jpg">
            </div>
            <p>
            Hema and Sriram are software engineers and Carnatic music enthusiasts residing in California, US. They are responsible for managing Raga Surabhi's technical infrastructure. More importantly, they are the primary critics of Uma and Ramasubramaniam and the first rasikas of Raga Surabhi. :)
            </p>
            <div style="clear: both;"></div>
            <hr>
            <p class="body_subheading">About Laya Lahiri and Thillaisthanam R. Suriyanarayanan</p>
            <div style="float:left;">
                <img class="aboutus_img" src="/static/suri_laya_lahiri.png">
            </div>
            <p>
            Thillaisthanam R. Suriyanarayanan, is a senior mridangam artiste with more than 20 years of experience in concert platforms.  He has acquired his training from great laya stalwarts Madurai Shri Vaidyanatha Iyer, Tanjore Shri Rajam Iyer and Kumbakonam Shri Rajappa Iyer.  He has a post-graduate degree in Rhythmology from University of Madras.
            </p><p>
            Suri has accompanied many of today's leading as well as upcoming artistes in carnatic music concerts. He has received the Palani Subramania Pillai Endowment Award of Krishna Gana Sabha for the year 2008.  He is the 'Aasthika Vidwan' of the Kanchi Kamakoti Mutt of Kanchipuram.  He is the founder of Nandikeshwar Tala Vidyalaya, Chromepet, Chennai, with the aim of imparting mridangam lessons to interested students.
            </p><p>
            Raga Surabhi is very happy to introduce Laya Lahiri, which features lecture demonstrations by Suri.
            </p>
            <hr>
            <p class="body_subheading">Other Credits</p>
            <p>
            </p><ul>
                <li> Mrs. Indra Gurumurthy, mother of Ramasubramaniam and Mrs. Banumathy Varadarajan, mother of Uma Ramasubramaniam, have sung a few of the cine and quiz pieces.  </li>
                <li> Master Siddharth Ramalingam, Hema's nephew, who is learning Keyboard, provided instrumental support for the <a class="body_bulklinktext" href="/static/ragasurabhi_theme_music.mp3">Raga Surabhi Theme music</a>.  </li>
                <li> Our sincere thanks to Mr. K. Shafeek, colleague of Mr. G Ramasubramaniam,  who designed the <a class="body_bulklinktext" href="/static/ragasurabhi_logo.png">Raga Surabhi logo</a> </li>
                <p></p>
            </ul>
            <hr>
            <p class="body_subheading">And, last but not the least...</p>
            <p> The numerous rasikas who have encouraged us with their kinds words all along the way. Yes, indeed - all you rasikas who have written to us and have been kind to us, we consider you as part of the Raga Surabhi family.
            </p>
            <p>
            If you have read this far, may we suggest you to check out our <a style="text-decoration:underline;" href="/carnatic-music/testimonials.html">Testimonials</a> page that contains a sample of rasika feedback.
            </p>
            <p>By the way, if you have anything nice to say to us, please do so. Everyone appreciates an occasional compliment :-)
            </p>
        
            <p class="body_subheading">Thank you for visiting Raga Surabhi!</p>
        </div>
        
        
    
    </div>
    <div id="footer"> (c) Copyright Raga Surabhi 2014-2024. All rights are reserved. <br>All audio content on this website are strictly for personal use only. 
        See <a style="color: #FFFFE0;text-decoration:underline;" href="/privacy">Privacy Policy</a>
        <br>
    
        (website built using <a style="color: #FFFFE0;text-decoration:underline;" href="https://www.djangoproject.com">Django project</a>) 
        <br>
        <hr>
        &nbsp;
    
    </div>
    
    
    </body></html>