{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>   Weekly Blog </title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
</head>        
    <body>
    
    {% include 'navbar.html' %}
    
    <div id="centerpiece_box">
    
        <div class="body_whatsnew_box">
      <span class="body_whatsnew_text">
        <hr><span style="font-size: 140%"> <a href="https://ragasurabhi.com/carnatic-music/week-750-raga-handshake-special-match.html" class="simplelink">   Special Quiz 750 - (Results and Winners!)</a> </span><br> <br><span style="font-size: 120%"> <iframe width="560" height="315" src="https://www.youtube.com/embed/_EjvNh7TO34?si=yN-2iVs0fpcwJPf1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>   <br>  </span> <hr>  
      The Raga Surabhi Weekly Quiz Contest:<br>
      <a style="text-decoration: underline;" href="/carnatic-music/raga-surabhi-quiz/quiz--quiz0774.html"> Quiz 774</a> (Open)
      &nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp;
      <a style="text-decoration: underline;" href="/carnatic-music/raga-surabhi-quiz/quiz--quiz0773.html"> Quiz 773</a> (Closed)
      &nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp;
            <a style="text-decoration: underline;" href="/leaderboard"> Leaderboard (Dec, 2023)</a>
            &nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp;
      <a style="text-decoration: underline;" href="/carnatic-music/weekly-blog/weekly-blog--week0774--week-774-updates.html"> Blog (774)</a>
    &nbsp;
      </span>
    </div>
    
    <h2 class="body_heading">Weekly Blog</h2><hr>
        <div class="body_preamble_box">
            <span class="body_preamble_text">
    Weekly Blog is our primary channel of communication to keep our rasikas informed about new updates and other announcements related to Raga Surabhi website
            </span>
        </div>
        <div style="clear: both;"></div>
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0774--week-774-updates.html">Week 774 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 774:  Jun 23, 2024)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0773--week-773-updates.html">Week 773 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 773:  Jun 16, 2024)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0772--week-772-updates.html">Week 772 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 772:  Jun 08, 2024)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0771--week-771-updates.html">Week 771 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 771:  Jun 02, 2024)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0770--week-770-updates.html">Week 770 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 770:  May 26, 2024)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0769--week-769-updates.html">Week 769 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 769:  May 19, 2024)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0768--week-768-updates.html">Week 768 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 768:  May 12, 2024)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0767--week-767-updates.html">Week 767 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 767:  May 05, 2024)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0766--week-766-updates.html">Week 766 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 766:  Apr 27, 2024)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0765--week-765-updates.html">Week 765 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 765:  Apr 21, 2024)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0764--week-764-updates.html">Week 764 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 764:  Apr 14, 2024)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0763--week-763-updates.html">Week 763 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 763:  Apr 07, 2024)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0762--week-762-updates.html">Week 762 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 762:  Mar 31, 2024)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0761--week-761-updates.html">Week 761 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 761:  Mar 24, 2024)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0760--week-760-updates.html">Week 760 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 760:  Mar 17, 2024)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0759--week-759-updates.html">Week 759 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 759:  Mar 10, 2024)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0758--week-758-updates.html">Week 758 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 758:  Mar 03, 2024)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0757--week-757-updates.html">Week 757 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 757:  Feb 25, 2024)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0756--week-756-updates.html">Week 756 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 756:  Feb 18, 2024)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0755--week-755-updates.html">Week 755 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 755:  Feb 11, 2024)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0754--week-754-updates.html">Week 754 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 754:  Feb 04, 2024)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0753--week-753-updates.html">Week 753 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 753:  Jan 28, 2024)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0752--week-752-updates.html">Week 752 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 752:  Jan 21, 2024)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0751--week-751-updates.html">Week 751 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 751:  Jan 14, 2024)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0750--week-750-updates.html">Week 750 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 750:  Jan 07, 2024)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0749--week-749-updates.html">Week 749 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 749:  Dec 31, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0748--week-748-updates.html">Week 748 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 748:  Dec 24, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0747--week-747-updates.html">Week 747 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 747:  Dec 17, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0746--week-746-updates.html">Week 746 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 746:  Dec 10, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0745--week-745-updates.html">Week 745 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 745:  Dec 02, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0744--week-744-updates.html">Week 744 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 744:  Nov 26, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0743--week-743-updates.html">Week 743 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 743:  Nov 19, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0742--week-742-updates.html">Week 742 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 742:  Nov 12, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0741--week-741-updates.html">Week 741 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 741:  Nov 05, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0740--week-740-updates.html">Week 740 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 740:  Oct 28, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0739--week-739-updates.html">Week 739 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 739:  Oct 22, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0738--week-738-updates.html">Week 738 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 738:  Oct 15, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0737--week-737-updates.html">Week 737 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 737:  Oct 08, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0736--week-736-updates.html">Week 736 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 736:  Oct 01, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0735--week-735-updates.html">Week 735 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 735:  Sep 23, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0734--week-734-updates.html">Week 734 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 734:  Sep 17, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0733--week-733-updates.html">Week 733 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 733:  Sep 10, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0732--week-732-updates.html">Week 732 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 732:  Sep 03, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0731--week-731-updates.html">Week 731 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 731:  Aug 27, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0730--week-730-updates.html">Week 730 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 730:  Aug 19, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0729--week-729-updates.html">Week 729 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 729:  Aug 13, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0728--week-728-updates.html">Week 728 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 728:  Aug 05, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0727--week-727-updates.html">Week 727 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 727:  Jul 29, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0726--week-726-updates.html">Week 726 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 726:  Jul 23, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0725--week-725-updates.html">Week 725 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 725:  Jul 15, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0724--week-724-updates.html">Week 724 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 724:  Jul 09, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0723--week-723-updates.html">Week 723 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 723:  Jul 02, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0722--week-722-updates.html">Week 722 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 722:  Jun 24, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0721--week-721-updates.html">Week 721 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 721:  Jun 18, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0720--week-720-updates.html">Week 720 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 720:  Jun 10, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0719--week-719-updates.html">Week 719 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 719:  Jun 03, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0718--week-718-updates.html">Week 718 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 718:  May 28, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0717--week-717-updates.html">Week 717 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 717:  May 21, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0716--week-716-updates.html">Week 716 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 716:  May 14, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0715--week-715-updates.html">Week 715 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 715:  May 07, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0714--week-714-updates.html">Week 714 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 714:  Apr 30, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0713--week-713-updates.html">Week 713 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 713:  Apr 23, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0712--week-712-updates.html">Week 712 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 712:  Apr 16, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0711--week-711-updates.html">Week 711 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 711:  Apr 08, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0710--week-710-updates.html">Week 710 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 710:  Apr 02, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0709--week-709-updates.html">Week 709 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 709:  Mar 26, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0708--week-708-updates.html">Week 708 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 708:  Mar 19, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0707--week-707-updates.html">Week 707 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 707:  Mar 12, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0706--week-706-updates.html">Week 706 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 706:  Mar 05, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0705--week-705-updates.html">Week 705 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 705:  Feb 26, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0704--week-704-updates.html">Week 704 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 704:  Feb 19, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0703--week-703-updates.html">Week 703 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 703:  Feb 12, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0702--week-702-updates.html">Week 702 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 702:  Feb 04, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0701--week-701-updates.html">Week 701 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 701:  Jan 28, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0700--week-700-updates.html">Week 700 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 700:  Jan 22, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0699--week-699-updates.html">Week 699 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 699:  Jan 15, 2023)</span></p>
    
    
        <p class="body_indexpage_para">
            <a class="body_indexpage_assetlinktext" href="/carnatic-music/weekly-blog/weekly-blog--week0698--week-698-updates.html">Week 698 updates</a>
            &nbsp;<span class="body_indexpage_updatedtext">(Week 698:  Jan 07, 2023)</span></p>
    
        
    
    </div>
    <div id="footer"> (c) Copyright Raga Surabhi 2014-2024. All rights are reserved. <br>All audio content on this website are strictly for personal use only. 
        See <a style="color: #FFFFE0;text-decoration:underline;" href="/privacy">Privacy Policy</a>
        <br>
    
        (website built using <a style="color: #FFFFE0;text-decoration:underline;" href="https://www.djangoproject.com">Django project</a>) 
        <br>
        <hr>
        &nbsp;
    
    </div>
    
    
    </body></html>