{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>  New to Carnatic Music - Raga Surabhi - Raga Identification made Easy!</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    
    {% include 'navbar.html' %}
    
    <div id="centerpiece_box">
    
        <div class="body_whatsnew_box">
      <span class="body_whatsnew_text">
        <hr><span style="font-size: 140%"> <a href="https://ragasurabhi.com/carnatic-music/week-750-raga-handshake-special-match.html" class="simplelink">   Special Quiz 750 - (Results and Winners!)</a> </span><br> <br><span style="font-size: 120%"> <iframe width="560" height="315" src="https://www.youtube.com/embed/_EjvNh7TO34?si=yN-2iVs0fpcwJPf1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>   <br>  </span> <hr>  
      The Raga Surabhi Weekly Quiz Contest:<br>
      <a style="text-decoration: underline;" href="/carnatic-music/raga-surabhi-quiz/quiz--quiz0772.html"> Quiz 772</a> (Open)
      &nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp;
      <a style="text-decoration: underline;" href="/carnatic-music/raga-surabhi-quiz/quiz--quiz0771.html"> Quiz 771</a> (Closed)
      &nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp;
            <a style="text-decoration: underline;" href="/leaderboard"> Leaderboard (Dec, 2023)</a>
            &nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp;
      <a style="text-decoration: underline;" href="/carnatic-music/weekly-blog/weekly-blog--week0772--week-772-updates.html"> Blog (772)</a>
    &nbsp;
      </span>
    </div>
    
    <h2 class="body_heading">New to Carnatic Music?</h2><hr>
    
    
    <p style="background-color:#F5F5DC; margin:1px; padding:1px; border:1px dashed #C0C0C0;"><span class="body_bulktext"> Listen to <a class="body_bulklinktext" href="/carnatic-music-mp3/introduction-to-carnatic-music.mp3">Raga Surabhi's Introduction to Carnatic Music Audio clip</a></span></p>
    <div style="clear:both"></div>
    <ul>
        <li class="body_bulktext"><a class="body_bulklinktext" href="#faq_1">What is Carnatic Music?</a>
        </li><li class="body_bulktext"><a class="body_bulklinktext" href="#faq_2">What are the key elements of Carnatic Music?</a>
        </li><li class="body_bulktext"><a class="body_bulklinktext" href="#faq_3">What kind of songs are sung in a Carnatic music concert and who are the composers of these songs?</a>
        </li><li class="body_bulktext"><a class="body_bulklinktext" href="#faq_4">What is Manodharmam or Manodharma sangeetham?</a>
        </li><li class="body_bulktext"><a class="body_bulklinktext" href="#faq_5">What more should I know to start listening to Carnatic music or a concert?</a>
        </li>
    </ul>
    <hr>
    <p class="body_bulktext"> <a name="faq_1" id="faq_1" style="font-weight: bold;">What is Carnatic Music?</a> </p>
    <p class="body_bulktext">
        It is an ancient form of Classical Music associated with South India.    There are several websites which give elaborate information about the basics of Carnatic Music, we list a couple of them here for your easy reference.  It is certainly interesting to go through the information given in these websites but we feel it is not a must for a listener to assimilate all the technicalities for enjoying Carnatic music. The most fundamental aspects discussed in this page with audio demonstrations should suffice for anyone to get started with Carnatic music.
    </p><ul>
        <li class="body_bulktext"><a class="body_bulklinktext" href="http://en.wikipedia.org/wiki/Carnatic_music">Carnatic music on Wikipedia</a></li>
        <li class="body_bulktext"><a class="body_bulklinktext" href="http://carnatica.net/">Carnatica.net</a></li>
    </ul>
    <p></p>
    <hr>
    
    <p class="body_bulktext"> <a name="faq_2" id="faq_2" style="font-weight: bold;">What are the key elements of Carnatic Music?</a> </p>
    <div class="body_bulktext">
        Shruti or Pitch - Carnatic Music is a melody based system and every sound produced revolves around a central concept of 'Shruthi' or 'Pitch'.   'Swaras' or 'Notes' - There are basically seven swaras - Sa Ri Ga Ma Pa Da Ni, arranged in the order of increasing frequency. Of these, Sa and Pa are invariable,  whereas the swaras Ri, Ga, Da and Ni have three variations (mentioned as Ri1, Ri2, Ri3, Ga1, Ga2, Ga3 and so on...) and Ma has only two variations.  Thus we end up with sixteen swaras.  Why we have only two or three variations in each swara is because that is all the frequencies available with in an octave!  You might want to listen to the various swaras by clicking the link below -
        <ul>
            <li class="body_bulktext"><a class="body_bulklinktext" href="/carnatic-music/surabhi-post/post--post0007--myriad-hues-of-ragas.html">Listen to swaras</a></li>
        </ul>
        Raga - A combination of swaras in a particular sequence.  Every raga has an ascending and descending sequence of swaras, called the arohanam-avarohanam , which can be called the DNA of the raga. To know more about the structure and classification of ragas, click the link below -
        <ul>
            <li class="body_bulktext"><a class="body_bulklinktext" href="/carnatic-music/surabhi-post/post--post0001--raga-classification-and-structure.html">Raga classification-1</a></li>
            <li class="body_bulktext"><a class="body_bulklinktext" href="/carnatic-music/surabhi-post/post--post0002--raga-classification-and-structure-2.html">Raga classification -2</a></li>
        </ul>
        Tala -  It is the rhythm component of Carnatic Music.  All of us tap our feet naturally to any music we hear, isn't it?  In Carnatic music, the tapping or keeping the rhythm is done by hand gestures.  There are several talas but to get started, it is good to begin with the most common tala, the Adi tala, which contains 8 beats per cycle. The demonstration of adi tala is shown in the link below.
        <p></p>
        <p>
            <iframe width="420" height="315" src="http://www.youtube.com/embed/zmXEOSMQLpE" frameborder="0" allowfullscreen=""></iframe>
        </p>
    </div>
    <hr>
    
    <p class="body_bulktext"> <a name="faq_3" id="faq_3" style="font-weight: bold;">What kind of songs are sung in a Carnatic music concert and who are the composers of these songs?</a> </p>
    <p class="body_bulktext">
        The songs are referred to as kritis or keerthanams.  Many of these compositions are a few centuries old.  The most important of the composers are Saint Thyagaraja, Muthuswamy Dikshitar and Syama Shastri, who are jointly called 'The Trinity'.  They lived in the 18th century and ushered in a new era in the history of Carnatic music through the variety and diversity in their compositions. There are numerous other prominent composers whose compositions are equally valuable.  Purandara Dasa, Annamacharya, Arunachala Kavi, Bhadrachala Ramadas, Oothukkadu Venkata Kavi, Maharaja Swati Thirunal, Harikesanallur Muthaiah Bhagavatar,  Papanasam Sivan, Gopalakrishna Bharathi and the list goes on.  Usually the compositions are in South Indian languages like Telugu, Tamil, Kannada, Malayalam and Sanskrit.  Occasionally a Hindi Bhajan or a Marati Abhag is also sung towards the end of a concert.  Please check out the link below to know more about the format of a Carnatic music concert.
    </p><ul>
        <li class="body_bulktext"><a class="body_bulklinktext" href="/carnatic-music/surabhi-post/post--post0006--appreciating-carnatic-music-concert.html">Carnatic Music concert - a typical format</a></li>
    </ul>
    <p></p>
    <hr>
    
    <p class="body_bulktext"> <a name="faq_4" id="faq_4" style="font-weight: bold;">What is Manodharmam or Manodharma sangeetham?</a> </p>
    <p class="body_bulktext">
        In a Carnatic music concert, several of the compositions that we discussed above are presented.  These compositions are usually taught by teachers to the students and are presented as such.  However, before presenting a composition in raga, say, Kalyani, the artiste may choose to bring in the mood of Kalyani by singing phrases of raga Kalyani.  This is called Raga Alapana and what the artiste presents is entirely his or her own imagination of Kalyani and is done extempore at that moment! Similarly, singing swaras at a particular line in the kriti is also an extempore exercise (called Kalpanaswaras) and so is improvising a particular line in a kriti based on ones imagination (called neraval).  These components of extempore singing, which of course, takes years of practice to master, are called 'Manodharma Sangeetham' - singing based on your thoughts by following certain dharma or rules.  You might want to check out this link to listen to sample clips of Manodharma Sangeetham.
    </p><ul>
        <li class="body_bulktext"><a class="body_bulklinktext" href="/carnatic-music/surabhi-post/post--post0005--carnatic-music-terminologies-contd.html">Listen to Manodharma Sangeetham</a></li>
    </ul>
    <p></p>
    <hr>
    
    <p class="body_bulktext"> <a name="faq_5" id="faq_5" style="font-weight: bold;">What more should I know to start listening to Carnatic music or a concert?</a> </p>
    <p class="body_bulktext">
        Just as you require a little time to acquire the taste for a new recipe, you need some time to get used to Carnatic music if you are an absolute beginner.  Classical music can be and should be enjoyed by everyone.  One has to be just open minded and honestly listen and be with the music and let the magic unfold!
    
        All the best and wish you a nice journey in to the world of Carnatic Music!
    
    </p>
    <hr>
    
    
    
    </div>
    <div id="footer"> (c) Copyright Raga Surabhi 2014-2024. All rights are reserved. <br>All audio content on this website are strictly for personal use only. 
        See <a style="color: #FFFFE0;text-decoration:underline;" href="/privacy">Privacy Policy</a>
        <br>
    
        (website built using <a style="color: #FFFFE0;text-decoration:underline;" href="https://www.djangoproject.com">Django project</a>) 
        <br>
        <hr>
        &nbsp;
    
    </div>
    
    
    </body></html>