{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> Welcome to Raga Surabhi Home - Raga Identification made Easy!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Cherry+Swash:wght@400;700&family=Denk+One&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Playball&family=Simonetta:ital,wght@0,400;0,900;1,400;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
{% include 'navbar.html' %}

<div id="centerpiece_box">

	<div class="flashbox">
  
    </div>

<div class="body_whatsnew_box">
  <span class="body_whatsnew_text">
    <hr><span style="font-size: 140%"> <a href="https://ragasurabhi.com/carnatic-music/week-750-raga-handshake-special-match.html" class="simplelink">   Special Quiz 750- (Results and Winners)</a> </span><br> <br><span style="font-size: 120%"> <iframe width="560" height="315" src="https://www.youtube.com/embed/_EjvNh7TO34?si=yN-2iVs0fpcwJPf1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>   <br>  </span> <hr>  
  The Raga Surabhi Weekly Quiz Contest:<br>
  <a style="text-decoration: underline; color: #801010;" href="/carnatic-music/raga-surabhi-quiz/quiz--quiz0751.html"> Quiz 751</a> (Open)
  &nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp;
  <a style="text-decoration: underline; color: #801010;" href="/carnatic-music/raga-surabhi-quiz/quiz--quiz0750.html"> Quiz 750</a> (Closed)
  &nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp;
  <a style="text-decoration: underline; color: #801010;" href="/leaderboard"> Leaderboard (Dec, 2023)</a>
  &nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp;
  <a style="text-decoration: underline; color: #801010;" href="/carnatic-music/weekly-blog/weekly-blog--week0751--week-751-updates.html"> Blog (751)</a>
&nbsp;
  </span>
  </div>

  <h2 class="body_heading">Welcome to Raga Surabhi!</h2><hr>
  <div class="body_bulktext">
    <p class="body_para">
    <span style="font-size: 1.2em;font-weight: bold;">A personal message from Dr. Uma Ram:</span>
    </p>
    <p class="body_para">
    Thanks for dropping in! A quick introduction about Raga Surabhi.
    </p>
    <p class="body_para">
    This site is primarily a collection of audio files containing raga snippets, songs, quizzes and many more, all aimed at demystifying the process of appreciating and understanding Carnatic music (<a class="body_bulklinktext" href="http://en.wikipedia.org/wiki/Carnatic_music">Carnatic music in Wikipedia</a>). We host the <a class="body_bulklinktext" href="/carnatic-music/raga-surabhi-quiz.html">Weekly Raga Identification Quiz contest</a> which many rasikas have found to be a lot of fun!

    </p>
    <p class="body_para">
    If you are not too familiar with Carnatic music or have only heard about this we do hope that you are in for a pleasant surprise. Carnatic music is a wonderful musical form that has a rich heritage, where performing artists create magic and enthrall audiences with their improvisations.. one could go on and on. We suggest that you begin your tour of Raga Surabhi with our <a class="body_bulklinktext" href="/carnatic-music/new-to-carnatic-music.html">New to Carnatic Music?</a> page and then browse through the <a class="body_bulklinktext" href="/carnatic-music/ragas.html">Ragas</a> and <a class="body_bulklinktext" href="/carnatic-music/songs.html">Songs</a> pages. May we suggest you start with <a class="body_bulklinktext" href="/carnatic-music/raga/raga--lalitha.html">Raga Lalitha</a> and  <a class="body_bulklinktext" href="/carnatic-music/raga/raga--gambheera-nattai.html">Raga Gambheera Nattai</a>. Hope you enjoy them all!

    </p>
    <p class="body_para">
    If you are a rasika with a good grasp of ragas, we recommend taking up our weekly quiz and browse through our <a class="body_bulklinktext" href="/carnatic-music/raga-comparisons.html">Raga Comparisons</a>.
    </p>
    <p class="body_para">

    For a Carnatic music student, apart from all the above, we think  <a class="body_bulklinktext" href="/carnatic-music/surabhi-post.html">Surabhi Post</a> and <a class="body_bulklinktext" href="/carnatic-music/laya-lahiri.html">Laya Lahiri</a> would be interesting.
    </p>
    <p class="body_para">

    Please do take your time to browse through the various sections at your own pace and do drop us a mail about what you think about the content here.  We would really love to hear from our visitors.
    <br> <br>
    Sincerely,<br>
    <span style="font-weight: bold;">Dr. Uma Ram<br>
        Founder, Raga Surabhi</span>
    </p>
    <hr>
   
    
</div>


</div>
<div id="footer"> (c) Copyright Raga Surabhi 2014-2024. All rights are reserved. <br>All audio content on this website are strictly for personal use only. 
    See <a style="color: #FFFFE0;text-decoration:underline;" href="/privacy">Privacy Policy</a>
    <br>

    (website built using <a style="color: #FFFFE0;text-decoration:underline;" href="https://www.djangoproject.com">Django project</a>) 
    <br>
    
    &nbsp;
</div>

</body>
</html>