{% load static %}
<div id="logobanner_box0">
    <div>
    <div id="logobanner_box1"><a href="/carnatic-music/../index.html"><img id="ragaImageElement" height="150" src="{% static 'assets/images/ragasurabhi_logo.png' %}"></a></div>
    <div id="logobanner_box2">
    <div id="navi_top_box0">
    <ul class="navi_top_ul">
    <li class="navi_top_li"><a class="navi_top_a_off" href="/inventory/about/">About Us</a></li>
    <li class="navi_top_li"><a class="navi_top_a_off" href="/inventory/blog/">Blog</a></li>
    <li class="navi_top_li"><a class="navi_top_a_off" href="/inventory/special/">Specials</a></li>
    <li class="navi_top_li"><a class="navi_top_a_off" href="/inventory/faq/">FAQ</a></li>
    <li class="navi_top_li" style="padding: 0px; padding-top: 5px;"><a class="fb_tw_imglink" href="http://www.facebook.com/ragasurabhi"> <img id="fbImageElement" height="25" width="25" title="Raga Surabhi Facebook page" src="{% static 'assets/images/facebook_logo.png' %}"></a></li>
    <li class="navi_top_li" style="padding: 0px; padding-top: 5px;"><a class="fb_tw_imglink" href="http://www.youtube.com/ragasurabhi"> <img id="ytImageElement" height="25" width="25" title="Raga Surabhi Youtube page" src="{% static 'assets/images/youtube_icon.png' %}"></a></li>
    </ul>
    </div>
    <div id="logobanner_box2_1"><span id="banner">RAGA SURABHI</span></div>
    <div id="logobanner_box2_2"><span id="bannermotto">Raga identification made easy!</span></div>
    <div style="clear: both;"></div>
    </div>
    </div>
    </div><div id="navi_main_box0">
    <ul class="navi_main_ul">
        <li class="navi_main_li"><a class="navi_main_a_off" href="/inventory/">Home</a></li>
        <li class="navi_main_li"><a class="navi_main_a_off" href="/inventory/ragas/">Ragas</a></li>
        <li class="navi_main_li"><a class="navi_main_a_off" href="/inventory/songs/">Songs</a></li>
        <li class="navi_main_li"><a class="navi_main_a_off" href="/inventory/varnams/">Varnams</a></li>
        <li class="navi_main_li"><a class="navi_main_a_off" href="/inventory/comparisons/">Raga Comparisons</a></li>
        <li class="navi_main_li"><a class="navi_main_a_off" href="surabhi.html">Surabhi Post</a></li>
        <li class="navi_main_li"><a class="navi_main_a_off" href="laya-lahiri.html">Laya Lahiri</a></li>
        <li class="navi_main_li"><a class="navi_main_a_off" href="raga-surabhi-quiz.html">Quiz</a></li>
        <li class="navi_main_li"><a class="navi_main_a_off" href="/inventory/diy/">DIY</a></li>
    </ul>
</div>
