{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>  Special Quiz - Milestone Celebrations - Raga Surabhi - Raga Identification made Easy!</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
</head>    
    <body>
    
    {% include 'navbar.html' %}
    
    <div id="centerpiece_box">
    
        <div class="body_whatsnew_box">
      <span class="body_whatsnew_text">
        <hr><span style="font-size: 140%"> <a href="https://ragasurabhi.com/carnatic-music/week-750-raga-handshake-special-match.html" class="simplelink">   Special Quiz 750 - (Results and Winners!)</a> </span><br> <br><span style="font-size: 120%"> <iframe width="560" height="315" src="https://www.youtube.com/embed/_EjvNh7TO34?si=yN-2iVs0fpcwJPf1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>   <br>  </span> <hr>  
      The Raga Surabhi Weekly Quiz Contest:<br>
      <a style="text-decoration: underline;" href="/carnatic-music/raga-surabhi-quiz/quiz--quiz0774.html"> Quiz 774</a> (Open)
      &nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp;
      <a style="text-decoration: underline;" href="/carnatic-music/raga-surabhi-quiz/quiz--quiz0773.html"> Quiz 773</a> (Closed)
      &nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp;
            <a style="text-decoration: underline;" href="/leaderboard"> Leaderboard (Dec, 2023)</a>
            &nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp;
      <a style="text-decoration: underline;" href="/carnatic-music/weekly-blog/weekly-blog--week0774--week-774-updates.html"> Blog (774)</a>
    &nbsp;
      </span>
    </div>
    
    <h2 class="body_heading">Specials</h2><hr>
    
    <!--<p class="body_subheading">-->
    <!--    <a class="body_bulklinktext" href="week-650-abcd.html">Week 625 Special Quiz - abcd</a>-->
    <!--</p>-->
    <!--<hr/>-->
    
    <p class="body_subheading">
        <a class="body_bulklinktext" href="week-625-kshetra-connect.html">Week 625 Special Quiz - The Kshetra Connect</a>
    </p>
    <hr>
    
    <p class="body_subheading">
        <a class="body_bulklinktext" href="week-600-special-quiz-raga-route.html">Week 600 Special Quiz - Raga Route</a>
    </p>
    <hr>
    
    <p class="body_subheading">
        <a class="body_bulklinktext" href="week-10-years-special-quiz-pictionary.html">Special Quiz - 10 Years of Raga Surabhi</a>
    </p>
    <hr>
    <p class="body_subheading">
        <a class="body_bulklinktext" href="week-475-special-quiz-raga-intersection.html">Week 475 Special Quiz</a>
    </p>
    <hr>
    <p class="body_subheading">
        <a class="body_bulklinktext" href="week-450-special-quiz-twin-raga-delight.html">Week 450 Special Quiz</a>
    </p>
    <hr>
    <p class="body_subheading">
        <a class="body_bulklinktext" href="week-425-special-quiz-timestamp.html">Week 425 Special Quiz</a>
    </p>
    <hr>
    <br> <hr>
    <p class="body_subheading">
        <a class="body_bulklinktext" href="week-400-special-quiz-ragas-reunion.html">Week 400 Special Quiz</a>
    </p>
    <hr>
    <br> <hr>
    <p class="body_subheading">
        <a class="body_bulklinktext" href="week-375-special-quiz.html">Week 375 Special Quiz</a>
    </p>
    <hr>
    <p class="body_subheading">
        <a class="body_bulklinktext" href="week-7-years-special-quiz.html">Special Seven: 7 years of Raga Surabhi - Special Quiz</a>
    </p>
    <hr>
    <p class="body_subheading">
        <a class="body_bulklinktext" href="week-350-special-quiz.html">Week 350 Special Quiz</a>
    </p>
    <hr>
    <p class="body_subheading">
        <a class="body_bulklinktext" href="week-325-special-quiz.html">Week 325 Special Quiz</a>
    </p>
    <br> <hr>
    <p class="body_subheading">
        <a class="body_bulklinktext" href="week-300-special-quiz.html">Week 300 Special Quiz</a>
    </p>
    <br> <hr>
    <p class="body_subheading">
        <a class="body_bulklinktext" href="week-275-special-quiz.html">Week 275 Special Quiz</a>
    </p>
    <br> <hr>
    <p class="body_subheading">
        <a class="body_bulklinktext" href="week-250-special-quiz.html">Week 250 Special Quiz</a>
    </p>
    <br> <hr>
    <p class="body_subheading">
        <a class="body_bulklinktext" href="week-225-special-quiz.html">Week 225 Special Quiz</a>
    </p>
    <br> <hr>
    <p class="body_subheading">
        <a class="body_bulklinktext" href="week-200-special-quiz.html">Week 200 Special Quiz</a>
    </p>
    <br> <hr>
    <p class="body_subheading">
        <a class="body_bulklinktext" href="week-175-special-quiz.html">Week 175 Special Quiz</a>
    </p>
    <br> <hr>
    <p class="body_bulktext"> Week 150 Special Quiz (Under construction) </p>
    <p class="body_bulktext"> Week 125 Special Quiz (Under construction) </p>
    <p class="body_bulktext"> Week 100 Diamond Jubilee Special Quiz (Under construction) </p>
    <p class="body_bulktext"> Week 75 Special Quiz (Under construction) </p>
    <p class="body_bulktext"> Week 50 Golden Jubilee Special Quiz (Under construction) </p>
    
    
    
    </div>
    <div id="footer"> (c) Copyright Raga Surabhi 2014-2024. All rights are reserved. <br>All audio content on this website are strictly for personal use only. 
        See <a style="color: #FFFFE0;text-decoration:underline;" href="/privacy">Privacy Policy</a>
        <br>
    
        (website built using <a style="color: #FFFFE0;text-decoration:underline;" href="https://www.djangoproject.com">Django project</a>) 
        <br>
        <hr>
        &nbsp;
    
    </div>
    
    
    </body></html>